# **Session 3 - Python Strings**

# **Strings**

Strings are sequence of Characters.

In Python specifically, strings are a sequence of **Unicode** Characters.

**Properties of Strings**

*  Strings are immutable (cannot be changed)

*  Ordered (indexing is possible)

*  Can contain letters, numbers, symbols, spaces

**Topics to covered**

- Creating Strings
- Accessing Strings
- Adding Chars to Strings
- Editing Strings
- Deleting Strings
- Operations on Strings
- String Functions

## **Creating Strings**

Strings are created using single, double, or triple quotes.

In [ ]:
# Creating a string using single quotes
s1 = 'hello'
print(s1)

# Creating a string using double quotes
s2 = "hello"
print(s2)

# Creating a string using triple quotes (used for multi-line strings)
s3 = """hello"""
print(s3)

hello
hello
hello

In [ ]:
"it's raining outside"

"it's raining outside"

## **Accessing Substrings from a String**

Characters are accessed using **indexing** and **slicing**.

##**1. Indexing**

Indexing is used to access individual characters of a string (or elements of a list, tuple, etc.) using their position number.

**Types of Indexing**

*  Postive Indexing

*  Negative Indexing

### **Positive Indexing**

Index starts from 0

Moves from left to right

In [ ]:
s = 'hello world'
print(s[0])

h

In [ ]:
s = 'hello world'
print(s[1])

e

In [ ]:
s = 'hello world'
print(s[2])

l

In [ ]:
s = 'hello world'
print(s[4])

o

In [ ]:
s = 'hello world'
print(s[5])

In [ ]:
s = 'hello world'
print(s[41])

IndexError: string index out of range

### **2. Negative Indexing**

Index starts from -1

Moves from right to left


**Benefits**

*  Easy access to last elements

*  No need to know the length of the sequence.

Negative indexing helps access elements from the end easily, makes code shorter, cleaner, and more flexible, especially for dynamic data.

In [ ]:
s = 'hello world'
print(s[-1])

d

In [ ]:
s = 'hello world'
print(s[-2])

l

In [ ]:
s = 'hello world'
print(s[-3])

r

## **2. Slicing**

Slicing is used to extract a part (substring) of a string (or list, tuple) using a range of indexes.

**Syntax of Slicing** - string[start : stop : step]

* start → starting index (inclusive)

* stop → ending index (exclusive)

* step → jump value (optional)

**Types of Slicing**

*  Postive Index Slicing

*  Negative Index Slicing

### **Positive Index Slicing**

Positive slicing extracts data from the start.

*  Uses positive indexes

*  Indexing starts from 0

*  Moves left to right

*  Start index < Stop index

In [ ]:
s = 'hello world'
print(s[0:5])

hello

In [ ]:
s = 'hello world'
print(s[2:3])

l

In [ ]:
s = 'hello world'
print(s[2:])

llo world

In [ ]:
s = 'hello world'
print(s[:3])

hel

In [ ]:
s = 'hello world'
print(s[:])

hello world

In [ ]:
s = 'hello world'
print(s[0:6:2])

hlo

In [ ]:
s = 'hello world'
print(s[0:6:3])

hl

In [ ]:
s = 'hello world'
print(s[6:0:-1])

w olle

In [ ]:
s = 'hello world'
print(s[6:0:-2])

wol

In [ ]:
s = 'hello world'
print(s[::-1])

dlrow olleh

In [ ]:
s = 'hello world'
print(s[::1])

hello world

In [ ]:
s = 'hello world'
print(s[::2])

hlowrd

### **Negative Index Slicing**

Negative slicing extracts data from the end

*  Uses negative indexes

*  Indexing starts from -1

*  Counts from right to left

*  Start index < Stop index (numerically)

**Note** - In negative slicing, the starting index must be greater than the ending index, otherwise the result will be empty.

In [ ]:
s = 'hello world'
print(s[-5:])

world

In [ ]:
s = 'hello world'
print(s[-6:-2])

 wor

In [ ]:
s = 'hello world'
print(s[-1:-6:-1])

dlrow

## **Editing and Deleting in Strings**

Strings cannot be edited or partially deleted, but you can create new edited strings or delete the entire string variable.

**Strings in Python are immutable**, which means once a string is created, it cannot be changed directly.

### **Editing Strings**

You cannot modify a character using indexing.

Correct Way **-->** Create New String

Editing means creating a new string.

In [ ]:
s = 'hello world'
s[0] = 'H'

TypeError: 'str' object does not support item assignment

### **Deleting Strings**

Individual characters cannot be deleted

In [ ]:
s = 'hello world'
del(s[-1:-5:2])
print(s)

TypeError: 'str' object does not support item deletion

### **Deleting Entire String**

You can delete the whole string variable.

In [ ]:
s = 'hello world'
print(s)
del(s)
print(s)

hello world

NameError: name 's' is not defined

## **Operations on Strings**

Python strings support concatenation, comparison, logical checks, looping, and membership testing, making them powerful for text processing.

1. Arithmetic Operations
2. Relational Operations
3. Logical Operations
4. Loops on Strings
5. Membership Operations

### **1. Arithmetic Operations on Strings**

Python allows limited arithmetic operations on strings.

Concatenation (+) and Repetition (*) are allowed.

Other arithmetic operators (-, /, %) are not allowed on strings.

In [ ]:
# Concatenation (+)
print('delhi' + ' ' + 'mumbai')

delhi mumbai

In [ ]:
# Repetition (*)
print('delhi' * 5)

delhidelhidelhidelhidelhi

### **2. Relational Operations on Strings**

Used to compare strings (lexicographically, based on ASCII values).

In [ ]:
print('delhi' == 'delhi')

True

In [ ]:
print('delhi' == 'mumbai')

False

In [ ]:
print('delhi' != 'delhi')

False

In [ ]:
print('delhi' != 'mumbai')

True

In [ ]:
# Lexicographically
print('mumbai' > 'pune')

False

In [ ]:
# Lexicographically
print('mumbai' < 'pune')

True

In [ ]:
# Capital letters have lower ASCII value than lowercase letters.
print('Pune' > 'pune')

False

### **3. Logical Operations on Strings**

Strings are treated as True or False:

Empty string → False

Non-empty string → True

In [ ]:
# Returns the second string because both are non-empty (True)
print('hello' and 'world')

world

In [ ]:
# Returns the first string because it is non-empty (True)
print('hello' or 'world')

hello

In [ ]:
# Returns empty string because the first operand is empty (False)
print('' and 'world')

In [ ]:
# Returns 'world' because the first operand is empty (False)
print('' or 'world')

world

In [ ]:
# Returns empty string because the second operand is empty (False)
print('hello' and '')

In [ ]:
# Returns 'hello' because the first operand is non-empty (True)
print('hello' or '')

hello

In [ ]:
# Returns True because an empty string is considered False
print(not '')

True

In [ ]:
# Returns False because a non-empty string is considered True
print(not 'hello')

False

### **4. Loops on Strings**

Used to access characters one by one.

In [ ]:
# for Loop
for i in 'hello':
  print(i)

h
e
l
l
o

In [ ]:
# for Loop
for i in 'delhi':
  print('pune')

pune
pune
pune
pune
pune

### **5. Membership Operations on Strings**

Used to check presence of substring.

**in** and **not in**

In [ ]:
# in
print('D' in 'Delhi')

True

In [ ]:
# not in
print('D' not in 'Delhi')

False

## **Common Functions**

Common functions that work on iterable objects in Python, such as Strings, Lists, Tuples, Sets, Dictionaries (keys by default)

*  len

*  max

*  min

*  sorted

### **1. len()**

Returns the number of characters in a string including space.

In [ ]:
len('hello world')

11

### **2. max()**

Returns the character with the highest ASCII value

Lowercase letters have higher ASCII values than uppercase.

In [ ]:
max('hello world')

'w'

### **3. min()**

Returns the character with the lowest ASCII value

In [ ]:
min('hello world')

' '

### **4. sorted()**

Returns a sorted list of characters

Original string remains unchanged

sorted() always returns a list

Sorting is based on ASCII values

In [ ]:
sorted('hello world')

[' ', 'd', 'e', 'h', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [ ]:
sorted('hello world', reverse=True)

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'h', 'e', 'd', ' ']

## **Capitalize/Title/Upper/Lower/Swapcase**

These functions are used to change the letter case of strings.

Work only on strings.

### **1. capitalize()**

Converts first character to uppercase

Rest of the string becomes lowercase

**Use**: Formatting names in forms

**Example**: User enters john, system stores/display as John

In [ ]:
s = 'hello world'
s.capitalize()

'Hello world'

### **2. title()**

Converts first letter of each word to uppercase

**Use**: Formatting book titles, article headings, or movie names

**Example**: "harry potter and the goblet of fire" → "Harry Potter And The Goblet Of Fire"

In [ ]:
s = 'hello world'
s.title()

'Hello World'

### **3. upper()**

Converts all characters to uppercase

**Use**: Displaying product codes, promo codes, or shout messages

**Example**: "sale" → "SALE"

In [ ]:
s = 'hello world'
s.upper()

'HELLO WORLD'

### **4. lower()**

Converts all characters to lowercase

**Use**: Converting emails or usernames to standard format for comparison

**Example**: "User@Email.com" → "user@email.com"

In [ ]:
s = 'Hello World'
s.lower()

'hello world'

### **5. swapcase()**

Converts uppercase to lowercase and lowercase to uppercase

**Use**: Fun apps, stylized text, or toggling case in editors

**Example**: "Hello World" → "hELLO wORLD"

In [ ]:
s = 'HeLLo WoRlD'
s.swapcase()

'hEllO wOrLd'

## **Count/Find/Index**

Python provides several functions to find and locate substrings in a string.

These functions are commonly used in text processing, searching words, and data analysis.

### **1. count()**

**Purpose**: Counts how many times a substring appears in the string

**Syntax**: string.count(substring, start=0, end=len(string))

**Use Case**: Count occurrences of a word in a text.

In [ ]:
s = 'my name is nitish'
s.count('i')

3

In [ ]:
s = 'my name is nitish'
s.count('m')

2

### **2. find()**

**Purpose**: Returns the index of first occurrence of a substring

Returns -1 if substring is not found

**Syntax**: string.find(substring, start=0, end=len(string))

**Use Case**: Locate the position of a word in a sentence.

In [ ]:
s = 'my name is nitish'
s.find('is')

8

In [ ]:
s = 'my name is nitish'
s.find('the')

-1

### **3. index()**

**Purpose**: Returns the index of first occurrence of a substring

Raises an error if substring is not found

**Syntax**: string.index(substring, start=0, end=len(string))

**Use Case**: Same as find(), but strict (return error) when substring does not exist.

In [ ]:
s = 'my name is Himanshu'
s.index('is')

8

In [ ]:
s = 'my name is Himanshu'
s.index('the')

ValueError: substring not found

## **endswith/startswith**

Python provides two useful functions to check the beginning or ending of a string:

### **1. startswith()**

**Purpose**: Checks if a string starts with a specified substring

Returns True or False

**Syntax**: string.startswith(substring, start=0, end=len(string))

**Use Case**: Validate email domains, file types, or command prefixes.

In [ ]:
'my name is nitish'.endswith('sh')

True

In [ ]:
'my name is nitish'.endswith('sho')

False

### **2. endswith()**

**Purpose**: Checks if a string ends with a specified substring

Returns True or False

**Syntax**: string.endswith(substring, start=0, end=len(string))

**Use Case**: Validate file extensions (.txt, .jpg), URL endings, or commands.

In [ ]:
'my name is nitish'.startswith('my')

True

In [ ]:
'my name is nitish'.startswith('1my')

False

## **format**

The format() method is used to insert values into a string in a structured and readable way.

* format() inserts values into strings

* Supports positional & keyword arguments

* Useful for clean and readable output formatting

*  Order matter here

**Note**: f-strings are a modern alternative, but format() is still widely used and important.

In [ ]:
name = 'nitish'
gender = 'male'

'Hi my name is {} and I am a {}'.format(gender,name)

'Hi my name is {1} and I am a {0}'.format(gender,name)

'Hi my name is nitish and I am a male'

## **isalnum/ isalpha/ isdigit/ isidentifier**

These functions are used to validate the content of strings.

These functions are used to validate input data like usernames, names, numbers, and variable names.

### **1. isalnum()**

Returns True if string contains only alphabets and digits

No spaces or special characters allowed

**Real-Life Use**: Username validation

In [ ]:
'nitish1234'.isalnum()

True

In [ ]:
'nitish1234%'.isalnum()

False

### **2. isalpha()**

Returns True if string contains only alphabets

No digits or spaces allowed

**Real-Life Use**: Name validation

In [ ]:
'nitish'.isalpha()

True

In [ ]:
'nitish1234'.isalpha()

False

### **3. isdigit()**

Returns True if string contains only digits

No alphabets or spaces allowed

**Real-Life Use**: OTP, PIN, phone number check

In [ ]:
'123'.isdigit()

True

In [ ]:
'123abc'.isdigit()

False

## **4. isidentifier()**

Returns True if string is a valid Python identifier

Must start with a letter or _

Cannot contain spaces or special characters

Cannot be a Python keyword

**Real-Life Use**: Variable name validation in code editors

In [ ]:
'name'.isidentifier()

True

In [ ]:
'1name'.isidentifier

In [ ]:
'first-name'.isidentifier()

False

In [ ]:
'first_name'.isidentifier()

True

## **Split/Join**

These functions are used to break strings into parts and combine parts into a string.

Relationship

split() → string ➝ list

join() → list ➝ string

split() divides a string into parts, while join() combines multiple strings into one.

### **1. split()**

Breaks a string into a list of substrings --> Word by Word

Uses a separator (space by default)

split() → string ➝ list

In [ ]:
'hi my name is nitish'.split()

['hi', 'my', 'name', 'is', 'nitish']

In [ ]:
'hi my name is nitish'.split('i')

['h', ' my name ', 's n', 't', 'sh']

In [ ]:
'hi my name is nitish'.split('is')

['hi my name ', ' nit', 'h']

### **2. join()**

Joins elements of a list/tuple into a single string

Uses a separator string

join() → list ➝ string

In [ ]:
" ".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi my name is nitish'

In [ ]:
"-".join(['hi', 'my', 'name', 'is', 'nitish'])

'hi-my-name-is-nitish'

## **Replace**

The replace() method is used to replace part of a string with another string.

*  It does not change the original string (strings are immutable).

*  It returns a new string.

**string.replace(old, new, count)**

*  old → text to be replaced

*  new → replacement text

*  count → (optional) number of replacements

**Important Points**

*  Case-sensitive

*  Original string remains unchanged

*  Works only on strings

In [ ]:
'hi my name is himanshu'.replace('himanshu','tiwari')

'hi my name is tiwari'

## **Strip**

The strip() method is used to remove unwanted spaces or characters from a string.

**Important Points**

*  Removes characters only from start and end

*  Does not remove characters from middle

*  Returns a new string

In [ ]:
'nitish                        '.strip()

'nitish'

## **Example Programs**

### 1. Find the length of a given string without using the len() function.

In [ ]:
s = input('Enter the string: ')

counter = 0

for i in s:
  counter += 1
print('Lenth of string is ',counter)

Enter the string: nitish
Lenth of string is  6

### 2. Extract username from a given email.

Eg if the email is nitish24singh@gmail.com then the username should be nitish24singh

In [ ]:
s = input('Enter the email: ')

pos = s.index('@')
print(s[0:pos])

Enter the email: nitish24singh@gmail.com
nitish24singh

### 3. Count the frequency of a particular character in a provided string.

Eg 'hello how are you' is the string, the frequency of h in this string is 2.

In [ ]:
s = input('Enter the character: ')
term = input('What would like to search: ')

counter = 0
for i in s:
  if i == term:
    counter += 1

print('Frequency ',counter)

Enter the character: hi how are you
What would like to search: o
Frequency  2

### 4. Write a program which can remove a particular character from a string.

In [ ]:
s = input('Enter the string: ')
term = input('What would like to remove: ')

result = ''

for i in s:
  if i != term:
    result += i

print(result)

Enter the string: nitish
What would like to remove: i
ntsh

### 5. Write a program that can check whether a given string is palindrome or not.

Examples are abba, malayalam

In [ ]:
s = input('Enter the string: ')

flag = True
for i in range(0,len(s)//2):
  if s[i] != s[len(s)-i-1]:
    flag = False
    print('Not a palindrome')
    break

if flag:
  print('Palindrome')

Enter the string: malayalam
Palindrome

### 6. Write a program to count the number of words in a string without split().

In [ ]:
s = input('enter the string: ')
L = []
temp = ''
for i in s:

  if i != ' ':
    temp = temp + i
  else:
    L.append(temp)
    temp = ''

L.append(temp)
print(L)

enter the string: hi how are you
['hi', 'how', 'are', 'you']

### 7. Write a python program to convert a string to title case without using the title().

In [ ]:
s = input('enter the string: ')

L = []
for i in s.split():
  L.append(i[0].upper() + i[1:].lower())

print(" ".join(L))

enter the string: My naME is niTIsh
My Name Is Nitish

### 8. Write a program that can convert an integer to string.

In [ ]:
number = int(input('Enter the number: '))

digit = '0123456789'
result = ''

while number != 0:
  result = digit[number % 10] + result
  number = number // 10

print(result)
print(type(result))

Enter the number: 234
234
<class 'str'>